.move-up {
    transition: transform 0.3s ease;
  }
  .move-up:hover {
    transform: translateY(-10px); /* Monte de 10px */
  }
  .healthy{
    position: relative;
    bottom: 300px;
  }

  .but1 button{
    background-color: transparent;
    color: white;
    border-radius: 20%;
  }

  #carouselExampleInterval img{
   
   
  }
  .colonee{
  
    
  }
  .perso img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  .bas{
    background-color: #212529;
  }
  .imagemap{
    height: 400px;
  }
  span{
    color: red;
  }
  .boutton1 button{
    width: 150px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(187, 18, 18);
  }

  .boutton2 button:first-child{
    color: white;
    width: 150px;
    padding: 0px;
    border-radius: 20px;
    background-color: rgb(187, 18, 18);
  }
  .boutton2 button:nth-child(2){
    width: 150px;
    padding: 10px;
    border-radius: 20px;
  }
  .boutton3 button{
    width: 150px;
    padding: 15px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.136);
    border: none;
  }
  .boutton4{
    color: white;
    width: 200px;
    padding: 15px;
    background-color: rgb(187, 18, 18);
    position: relative;
    left: 350px;
  }
  